.file-select {
  align-items: center;
  margin-right: 2.4rem;
  margin-top: 2.4rem;
}

.file-select-box {
  align-items: center;
  background: #eee;
  border: 1px solid #7504c9;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
  padding: 1.6rem;
}

.file-select-box-img-container {
  height: 140px;
  width: 140px;
}

.file-select-box-img-container img {
  object-fit: contain;
}

.file-select-box p {
  font-size: 1.4rem;
  padding-top: 1.6rem;
}

.file-select-box.empty img {
  filter: grayscale(100%);
}

.generator-error {
  background: #ffcccc;
  border: 2px dotted #f00;
  color: #330000;
  display: block;
  margin: 1.6rem 0 0 0;
  padding: 1.6rem;
  width: fit-content;
}
