.tab {
  color: inherit;
  display: block;
  font-size: 1.8rem;
  height: 4.8rem;
  line-height: 2.4rem;
  margin: 3px;
  min-width: 180px;
  padding: 1rem;
  text-decoration: none;
  white-space: nowrap;
  width: fit-content;
}

.tab.active, .tab:hover {
  background: #111;
}

.tab:hover{
  background: #222;
  outline: 2px solid #7504c9;
}

.tab-bar-left {
  background: #333;
  color: white;
}

.tab-bar-right {
  padding: 2rem;
  width:100%
}
